html {
  touch-action: manipulation;
}

body {
  font-family: GalmuriMono11, monospace;
  line-height: 1rem;
  font-size: 1.4rem;
  word-spacing: 0.2rem;
  overflow: hidden;
  background-color: rgb(217, 248, 196);
}

code {
  font-weight: lighter;
  font-family: monogram, monospace;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  border: 2px solid black;
  padding: 0 0.3rem 0.1rem 0.5rem;
  border-radius: 5px;
  background-color: rgb(217, 248, 196);
  box-shadow: inset 0.1rem 0.1rem rgb(117, 182, 90);
  margin-right: 0.3rem;
  vertical-align: top;
  text-wrap: nowrap;
  &:not(:first-of-type) {
    margin-left: -0.5rem;
  }
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

#dialog {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 2vh;
  padding: 1rem 0;
  max-height: 92%;
  min-height: 10vh;
  background: white;
  border-radius: 3px;
  outline-style: solid;
  line-height: 2rem;
  box-shadow: 0.35rem 0.35rem rgb(117, 182, 90);
}

#dialog-content {
  overflow-y: scroll;
}

a {
  color: rgb(117, 182, 90);
  &:visited {
    color: rgb(139, 172, 15);
  }
}

.ui-text {
  max-height: 40vh;
  padding: 0 1rem;
  margin: 0;
  user-select: none;
}

.btn {
  font-family: monogram, monospace;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  border: 3px solid black;
  font-size: inherit;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.ui-info-btn {
  background-color: rgb(217, 248, 196);
  color: black;
  font-size: 1.25rem;
  padding: 0.5rem;
  &:hover,
  &.active {
    color: rgb(217, 248, 196);
    background-color: rgb(117, 182, 90);
    box-shadow: inset 0.1rem 0.1rem rgb(38, 87, 62);
  }
}

.ui-btn-container {
  position: absolute;
  left: 2.5%;
  top: 3vh;
}

.ui-close-btn {
  background-color: rgb(9, 18, 25);
  color: white;
}

.btn-container {
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.note {
  position: absolute;
  font-size: 1.25rem;
  top: 10vh;
  left: 2.5%;
  padding: 0.5rem 1rem 0.6rem 1rem;
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  user-select: none;
  background-color: white;
  pointer-events: none;
  p {
    line-height: 1.75em;
    margin: 0.3rem;
  }
  &#credit {
    font-weight: lighter;
    font-family: monogram, monospace;
    font-size: 1.75rem;
    p {
      line-height: 1.5rem;
    }
    ul {
      padding: 0 2rem 0.5rem;
      margin: 0;
      padding-left: 1.5rem;
      li {
        line-height: 1.75rem;
      }
    }
  }
  a {
    pointer-events: all;
  }
}

.letter {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
  margin-left: -4px;
  &:first-child {
    margin-left: 4px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("/letters.png");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    scale: 2;
  }
}

$letters: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x,
  y, z;
$numbers: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, bang;
$keys: up, down, left, right;
$bubbles: dollar question devil x ellipsis check bang heart;

@mixin letter-sprite($offset, $line) {
  $offset: $offset - 1;
  $line: $line - 1;

  &::before {
    background-position: 16px * -$offset 16px * -$line;
  }
}

@for $i from 1 through length($letters) {
  $letter: nth($letters, $i);
  .letter-dark-#{$letter} {
    @include letter-sprite($i, 1);
  }
}

@for $i from 1 through length($letters) {
  $letter: nth($letters, $i);
  .letter-light-#{$letter} {
    @include letter-sprite($i, 2);
  }
}

@for $i from 1 through length($numbers) {
  $number: nth($numbers, $i);
  .number-dark-#{$number} {
    @include letter-sprite($i, 4);
  }
}

@for $i from 1 through length($numbers) {
  $number: nth($numbers, $i);
  .number-light-#{$number} {
    @include letter-sprite($i, 5);
  }
}

@for $i from 1 through length($keys) {
  $direction: nth($keys, $i);
  .key-#{$direction} {
    @include letter-sprite($i + 6, 3);
  }
}

@for $i from 1 through length($bubbles) {
  $bubble: nth($bubbles, $i);
  .bubble-#{$bubble} {
    @include letter-sprite($i, 6);
  }
}

/* Media query */
@media (max-width: 992px) {
  body {
    font-size: 1.3rem;
  }
  code {
    font-size: 1.4rem;
  }
  #dialog {
    line-height: 1.75rem;
  }
  .note {
    font-size: 1.15rem;
    padding: 0.75rem 1rem 0.8rem 1rem;
    p {
      line-height: 1.6rem;
    }
  }
  .ui-info-btn {
    font-size: 1.15rem;
  }
  .letter {
    margin-left: -4px;
    &::before {
      scale: 2;
      transform: scale(90%);
    }
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.2rem;
    word-spacing: 0.1rem;
  }
  code {
    font-size: 1.25rem;
  }
  #dialog {
    line-height: 1.6rem;
  }
  .note {
    font-size: 0.95rem;
    max-width: 85%;
    padding: 0.7rem 1rem 0.8rem 1rem;
    p {
      line-height: 1.5rem;
    }
    &#credit {
      font-size: 1.6rem;
    }
  }
  .ui-info-btn {
    font-size: 1rem;
  }
}
